* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

h4 {
  margin-top: 20%;
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
}

.second {
  margin-top: 5px;
}

.hide {
  display: none;
}
